#Behandelingen{
    width:100%;
    display: flex;
    flex-direction: row;
}

#categories{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    font-size: x-large;
    font-weight: 400;
}

.category{
    width:90%;
    border-top:1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    padding-left:0px;
    padding-right:0px;
    transition: all 0.25s;
    background-color: #cf94f1;
    cursor:pointer;
}

.category:hover{
    background-color: #e2afff;
}

.price{
    height: fit-content;
    padding: 15px;
    width: 92px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    border-top-right-radius: 0px;
    background-color: #70428a;
    color: white;
}

#treatments{
    /* margin-left:15%; */
    /* overflow: scroll; */
    /* height: 250px; */
    /* background-color: #f7eaff; */
    /* overflow-x: hidden; */
    width: 78%;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.treatment{
    display: flex;
    /* border-bottom: 1px solid black; */
    /* width: 100%; */
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#wrapper{
    height: 85%;
    width:75%;
    margin-left:15%;
    background-color: #fff6fe;
}

.info {
    margin-left: 56px;
    width: 613px;
    margin-right: 10px;
}

.treatmentImage{
    align-self: center;
    border-radius: -2px;
    display: flex;
    border: 2px solid black;
    background-image: url(/Photos/gezicht-source.png);
    width: 300px;
    height: initial;
    flex-wrap: nowrap;
    background-position: center;
    background-size: cover;
    flex-direction: row;
}

#line {
    width:47%;
}
img{
    width: -webkit-fill-available;
}
#break{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 3vh;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    #spaIcon{
        font-size: 59px;
    }

    img{
        width: -webkit-fill-available;
    }
    
    .treatmentImage{
        width: 87%;
        height: initial;
    }
    
    #wrapper{
        height: fit-content;
    }

    #footer{
        position: initial;
    }

    #treatments{
        width:85%;
    }
    
    .info{
        margin: 0px;
        width:835px;
    }
}